/* style_carrinho.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.navbar {
    background-color: #1a3c6b;
}

.navbar-brand {
    font-weight: 700;
    font-size: 1.5rem;
    color: #4b3f29 !important;
  }
  
  .navbar .nav-link {
    color: #4b3f29 !important;
    transition: color 0.3s;
  }
  
  .navbar .nav-link:hover {
    color: #2a251b;
  }

h2 {
    color: #1a3c6b;
}

button {
    border-radius: 5px;
}

.text-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
